
.align-center {
	align-items: center;
	display: flex;
}

.flex-right {
	justify-content: flex-end;
}

.cursor-pointer {
	cursor: pointer;
	user-select: none;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.visibility-hidden {
	visibility: hidden
}

.not-found {
	text-align: center;
	padding: 50px;
}

.not-found .title {
	font-size: 50px;
}

.not-found .desc {
	margin-top: -10px;
}

@keyframes b {
		to {
				transform: rotate(1turn)
		}
}

@keyframes c {
	0% {
		transform: scale(0)
	}

	50% {
		opacity: 1
	}
}

.spinner-top {
	margin-top: 80px;
}

.spinner-grow {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		vertical-align: text-bottom;
		background-color: currentColor;
		border-radius: 50%;
		opacity: 0;
		animation: c .75s linear infinite;
}

.spinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	border: .25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: b .75s linear infinite;
}

.spinner-grow-sm {
		width: 1rem;
		height: 1rem
}

.spinner-xl {
		width: 10rem;
		height: 10rem;
}

.table-loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	background: #ffffff82;
	z-index: 999;
}


.modal-filter {
	position: absolute;
	height: 100%;
	margin: 0;
	width: 100%;
	right: 0;
}


.modal-filter .modal-content {
	height: 100%;
}

.navbar-collapse {
	margin-left: -2rem !important;
}

.navbar-brand-img {
	max-height: 9.5rem !important;
	min-width: 13.5rem !important;
	margin-left: -10px;
}

.btn-filter {
	align-items: center;
	display: flex !important;
	flex-direction: column;
}

.nav-link.active:before {
	border-left: 2px solid #2dce89 !important;
}

.input-group-merge.merge-alternative {
	input, .input-group .form-control:focus, .input-group-text {
		border: none;
		box-shadow: none;
	}

	.input-group {
		box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
		border: 0;
		transition: box-shadow .15s ease;
	}

	.invalid-feedback {
		display: block !important;
	}
}

.input-group-join {
	.form-control {
	  border: 1px solid #cad1d7 !important;
	  border-left: none !important;
	}

	.form-control:focus {
		color: #8898aa;
		background-color: #fff;
		border-color: rgba(50, 151, 211, 0.25);
		outline: 0;
	}
}

.input-group-alternative.merge-alternative {
	.input-group-text {
		border: none !important;
	}
}

.rm-border input, .rm-border .input-group-text  {
	border: 0;
 }

.rm-border .input-group {
	box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
	border: 0;
	transition: box-shadow .15s ease;
}

.toast-notification {
	z-index: 1065;
	position: fixed;
}

.table-action {
    font-size: .875rem;
    color: #adb5bd;
    cursor: pointer;
    padding: 3px 10px;
}

.color-none {
	background-color: unset !important;
}

td.text-center {
	padding: 0px !important;
}

.custom-invalid-select {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #fb6340;
}


.generate-sku {
	border-left: 1px solid #cad1d7;
	position: relative;
	cursor: pointer;
}

#sku:focus + .generate-sku  {
}

#sku:focus {
	border-right: 1px solid #cad1d7;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.table td {
	white-space: pre-line;
}

.print-action .invoice-action {
	width: 210mm;
}

.print-page {
	width: 210mm;
	height: 297mm;
}

.print-page td, .table-fees td {
	padding: 0.5rem;
}

.print-page .customer-details .customer-name {
	font-weight: 600 !important;
}
.print-page-center {
	margin-right: auto;
	margin-left: auto;
}

.print-page .company-logo img {
	width: 155px;
}

.print-page .lead {
	margin-top: 0;
	font-weight: 600;
}

.print-page .invoice-details {
	font-size: 13px;
	font-weight: 400;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f9fc8c;
}

.print-page li {
	font-size: 13px;
}

.print-page .condition {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 25px;
	bottom: 20px;
}

.print-page .condition p {
	font-size: 0.7125rem;
	color: #8898aa !important;
}

.print-page .company-details {
	position: absolute;
	left: 160px;
}

.print-page .logo-container {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.print-page .logo-container img {
	width: 35%;
}

.print-page p {
	margin: 0;
	font-size: 1em;
	font-weight: 400;
}

.print-page .amount-due {
	width: 150px;
	border: 1px solid #525f7f4d;
	text-align: center;
	float: right;
	border-radius: 5px;
	padding: 10px;
}

.print-page .total-due {
	display: flex;
	justify-content: flex-end;
}

html {
	font-size: 14px !important;
}

.invoice-page {
	.additional-fees,
	.print-page,
	.deductions,
	td {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
}

.invoice-page .heading-small {
	font-size: 0.80rem !important;
}

.invoice-page .print-page {
	width: 100% !important;
	height: inherit !important;
}

.invoice-page .pl-lg-4 .row {
	width: 100% !important;
}

.item-desc {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 300px;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.item-desc .text-muted.action {
	padding: 5px 0;
	cursor: pointer;
	padding-right: 11px;
	color: #8898aa9e !important;
}

.item-desc .text-muted.action:hover {
  color: #b9bec49e !important;
}

.invoice-page .print-page .td-qty {
	display: flex;
	margin: 0;
	text-align: center;
	align-items: center;
	justify-content: flex-end;
}

.invoice-page .print-page .td-qty .input-group {
	width: 75px;
}

.invoice-page .print-page .sub-total,
.additional-fees .sub-total,
.deductions .sub-total
 {
	padding: 15px 1.5rem;
	font-weight: 400;
	padding-left: 1.5rem
}

.invoice-page .invoice-title {
	color: #172b4db8 !important;
}

.find-customer .shadow.card {
  height: 100%;
}

.additional-fees .table-striped tbody tr:nth-of-type(odd),
.deductions .table-striped tbody tr:nth-of-type(odd) {
	// background-color: #f6f9fc8c;
}


.table-action-icon {
	padding: 10px;
  margin: 0;
  cursor: pointer;
}

.form-control-label {
  color: #525f7f;
  font-size: 0.875rem;
  // font-weight: 500 !important;
}

.rdtActive.rdtActive.rdtActive.rdtActive {
  background-color: #2dce89 !important;
  color: #fff !important;
}

.product-sku {
	font-weight: 600;
}

.custom-tabs .nav-item {
	min-width: 100px;
	text-align: center;
	cursor: pointer;
}

.custom-tabs .nav-item .nav-link {
	line-height: 2.5;
	color: inherit;
	background-color: #fff;
}

.custom-tabs a.nav-link:not(.active) {
    border-bottom: none;
}